.display-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.self-end {
  align-self: flex-end;
}
.main-container {
  height: 600px;
  background-color: #f1f1f1;
  flex-wrap: wrap;
}
.item {
  flex-basis: 20%;
  height: 200px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: -1px -2px 28px -8px rgba(0,0,0,0.17);
  -webkit-box-shadow: -1px -2px 28px -8px rgba(0,0,0,0.17);
  -moz-box-shadow: -1px -2px 28px -8px rgba(0,0,0,0.17);
  border-radius: 20px;
}
@media screen and (min-width: 601px) and (max-width: 800px){
  .item {
    background-color: #776d6d;
  }
}
@media screen and (max-width: 600px) {
  .item {
    flex-grow: 1;
    margin-bottom: 20px;
    background-color: #dbc8c8;
  }
}
