body
  font-family: Arial, Helvetica, sans-serif

.main-container
  padding: 10% 10%
  background-color: $main-color

.item
  background-color: $gray

.item p
  color: $black
  @extend %general-text
  @extend .general-text

.item h2 
  color: $main-color
  @extend %general-text
  @extend .general-text